:root{
  font-size: 25px;
  font-family: 'Arial';
  --background: #d3c1ab;
  --border-color: purple;
  --text-color: black;
}
html{
  height: 100%;
}
body{
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: var(--background);
}
article{
  height: 100%;
}
article, section{
  margin: 0;
  width: 100%;
}
section{
  opacity: 0
}
.image-container img{
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: sketchy;
  src: url("/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.ttf");
}
@media screen and (max-width:450px){
  :root{
    font-size: 5vw;
  }
}
@media screen and (min-width: 2000px){
  :root{
    font-size: 1.5vw;
  }
}
