.images-section{
  height: 60vh;
  display: flex;
  animation: fadeIn 5s 1.5s forwards
}
.input-section{
  height: 40vh;
  animation: fadeIn 1s forwards
}
.images-container-positioner{
  align-self: center;
    flex: 1;
}
.input-container{
  width: 100%;
}
.image-container.event-logo{
  width: 35%;
  height: 15vh;
  margin: auto;
}
.input-form{
  align-items: center;
    /* text-align: center; */
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.input-form input,
.input-form button{
  background: transparent;
    border-color: var(--border-color);
    color: var(--text-color);
    text-align: center;
    outline: none;
}
.input-form input[type = "text"],
.input-form input[type = "password"]{
    border-radius: 20px;
    font-size: .75rem;
    line-height: 1.5;
}
.input-form button{
  padding: .25rem;
  font-size: .75rem;
  background: transparent;
  border-color: purple;
  border-radius: 5px;
}
@media screen and (max-width: 450px){
  .image-container.event-logo{
    width:80%;
  }
}


@keyframes fadeIn{
  from{opacity:0}
  to{opacity:1}
}
