#board{
  display:grid;
  grid-template-columns: 11.25vmin 11.25vmin 11.25vmin 11.25vmin 11.25vmin 11.25vmin 11.25vmin 11.25vmin;
  grid-template-rows: 11.25vmin 11.25vmin 11.25vmin 11.25vmin 11.25vmin 11.25vmin 11.25vmin 11.25vmin;
  border-color: #000;
  border-color: #000;
  border-radius: 5px;
  border-style: groove;
  width: 90vmin;
  position: relative;
  margin: auto;
}
.board-color-white{
  background-color: #ddd;
  z-index: 1;
}
.board-color-black{
  background-color: #333;
  z-index: 1;
}
img{
  width:11vmin;
  height:11vmin;
  z-index: 5;
  position: absolute;
}
